Rust/parser/target/
Rust/nostd/target/
Rust/length/target/
Rust/fs/target/
.DS_Store
Rust/.DS_Store
Dart/test
dart/.DS_Store
DevOps/test/.terraform/
DevOps/test/.terraform.lock.hcl
DevOps/test/terraform.tfstate.backup

Sys/*.out
Sys/ch2/*.out

elm/elm-stuff/*
elm/Groove/elm-stuff/*
elm/elm-frontend/elm-stuff/*
ElmWithRoc/frontend/elm-stuff/*
ElmWithRoc/basic-webserver-0.7.0

tgpl/ch1/dup

Pigment/target*
Pigment/.idea
Pigment/Cargo.lock

Zero2prod/.idea/modules.xml
Zero2prod/.idea/workspace.xml

Rust/Async/fibonacci/target
Rust/Async/fibonacci/Cargo.lock
