rust_snippets/parser/target/
rust_snippets/nostd/target/
rust_snippets/length/target/
.DS_Store
rust_snippets/.DS_Store
dart/test
dart/.DS_Store
python/affinityct/__pycache__
DevOps/test/.terraform/
DevOps/test/.terraform.lock.hcl
DevOps/test/terraform.tfstate.backup 
