rust_snippets/parser/target/
rust_snippets/nostd/target/
rust_snippets/length/target/
rust_snippets/fs/target/
.DS_Store
rust_snippets/.DS_Store
dart/test
dart/.DS_Store
python/affinityct/__pycache__
DevOps/test/.terraform/
DevOps/test/.terraform.lock.hcl
DevOps/test/terraform.tfstate.backup

sys/*.out
sys/ch2/*.out

elm/elm-stuff/*
elm/Groove/elm-stuff/*
elm/elm-frontend/elm-stuff/*
picasso/frontend/elm-stuff/*
picasso/basic-webserver-0.7.0

tgpl/ch1/dup
